.checkbox {
    display: none;
}

.slider {
    width: 30px;
    height: 15px;
    background: lightgray;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 4px solid transparent;
    transition: 0.3s;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25) inset;
    cursor: pointer;
}

.slider::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: translateX(-15px);
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.25);
}

.checkbox:checked~.slider::before {
    transform: translateX(15px);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.25);
}

.checkbox:checked~.slider {
    background: #2196F3;
}

.checkbox:active~.slider::before {
    transform: translate(0);
}